<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>Find A Friend!</h1>
    <h3>{{subhead}}</h3>
    <a class="btn btn-lg btn-outline-primary" href="{{link.url}}">
      {{link.text}}
    </a>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      {{#if home}} 
        {{> survey}} 
      {{else}} 
        {{> friends}} {{/if}}
    </div>
  </div>
</div>